.App {
  text-align: center;
}

.nav-bar{
  background-color: blue;
  color: white;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.nav-bar ul{
  margin-bottom: 0px;
}
.nav-bar li {
  list-style-type: none;
  padding: 10px;
  float: left;
}
.n 

.search-bar{
  float: right;
  padding-right: 20px;
}
.search-bar input{
  margin-left: 7px;
  background-color: brown;
  border: none;
}
.search-bar img{
  height: 24px;
}