.App {
  text-align: center;
  background: linear-gradient(146.65deg, #020213 0.93%, #091C38 97.36%);
}
body{
  background: linear-gradient(146.65deg, #020213 0.93%, #091C38 97.36%);
}


/* Navigation Bar */


.nav-bar{
  color: white;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid oldlace;
}
.nav-bar ul{
  margin-bottom: 0px;
}
.nav-bar li {
  list-style-type: none;
  padding: 10px;
  float: left;
}
.nav-bar a{
  color: white;
  text-decoration: none;
}

.search-bar{
  float: right;
  padding-right: 20px;
  display: flex
}
.search-bar input{
  margin-left: 7px;
  background-color:  #091C38;
  border: none;
  margin-right: 7px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
}
.search-bar img{
  height: 24px;
}
.search-bar p{
  margin: auto;
}


/*the loading page*/


.loadingPage{
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #091C38;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  animation: spin 1s infinite linear;
  visibility: visible;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}


/* the main section */

.blog{
  margin: 15px;
  max-width: 290px;
  color: white;
}
.blog p{
  text-align: left;
  padding: 0 5%;
}
.blog h4{
  text-align: left;
  padding: 2% 5%;
}
.blog h4 a{
  color: white;
  text-decoration: none;
}
.date-and-duration{
  display: flex;
  justify-content: space-between;
}
.clock-icon{
  margin: 5px;

}


/* write or add page */
.add-blog{
  margin: auto;
  max-width: 599px;
  margin-bottom: 20px;
}
.add-blog input{
  margin: 10px 0px;
  width: 100%;
  background-color: #050C20;
  color: white;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #383FEF;
}
.add-blog textarea{
  width: 100%;
  height: 200px;
  background-color: #050C20;
  color: white;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #383FEF;
}
.add-blog button{
  height: 45px;
  width: 100%;
  color: white;
  background-color: #383FEF;
  border: none;
}
/* this code is used to style the detail page or the single blog page*/


.loadingImg{
  width: 50px;
  height: 50px;

}
.detail{
  color: white;
  text-align: center;
  max-width: 80%;
  
}
.detail li{
  list-style: none;
}

.singleBlogImage{
  width: 60vw;
  
  margin-bottom: 29px;
}
.blogInfo{
  max-width: 599px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
.tags{

}
.dateDuration{

  display: flex;
}
.dateDuration li{
  padding: 5px;
}
.dateDuration img{
  padding: 5px;
}
.blogBody{
  display: flex;
  white-space: pre-line;
  text-align: left;
  max-width: 599px;
  margin: auto;
  
}

/*Comments*/

.comments{
  margin: auto;
  max-width: 599px;
  padding: 10px;
}
.comments-section{
  display: flex;
}
.comments h2{
  text-align: left;
  margin: 24px 0px;
  padding-bottom:12px;
  border-bottom: 2px solid #383FEF;
}

.profile-icon{ 
  width: 40px;
}
.author-date{
  display: flex;
  margin: 5px;
  
}
.date{
  color: #313144;
}
.author{
  margin-right: 5px;
}
/*Leave comment*/
.leave-comment{
  margin: auto;
  max-width: 599px;
  margin-bottom: 20px;
}
.leave-comment h2{
  margin: 24px 0px;
  text-align: left;
  padding-left: 10px;
}
.commentForm{
  background-color: #050C20;
}
.leave-comment textarea{
  width: 100%;
  height: 117px;
  background-color: #050C20;
  color: white;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #383FEF;
}

.leave-comment button{
  height: 45px;
  width: 100%;
  color: white;
  background-color: #383FEF;
  border: none;
}






.footer{
  background-color:#383FEF;
  color: white;
  height: 150px;

}
.footer p{
  padding-right: 15px;
  margin-bottom: 0;
}